<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/layout">
<head>
  <title>New Post</title>
</head>
<body>

  <div layout:fragment="content" th:classappend="new-post">
	  <h1 class="content-subhead">New Post</h1>
	  <form action="/posts" method="post">
	    <label for="title">Title</label>
	    <input id="title" type="text"/>
	    <button type="submit">Send</button>
	  </form>
  </div>

</body>
</html>
