<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/layout">
<head>
  <title>New Post</title>
</head>
<body>

  <div layout:fragment="content" th:classappend="new-post">
	  <h1 class="content-subhead">New Post</h1>
	  <form action="/posts" method="post" class="pure-form pure-form-aligned">
	    <fieldset>
	      <div class="pure-control-group">
			    <label for="title">Title</label>
		      <input id="title" name="title" type="text" required="required"/>
	      </div>
        <div class="pure-control-group">
          <label for="content">Content</label>
          <textarea id="content" name="content" required="required"></textarea>
        </div>
        <div class="pure-control-group">
          <label for="categories">Categories</label>
          <select id="categories" name="categories" multiple="multiple">
              <option th:each="category : ${categories}" th:text="${category}">CAT</option>
          </select>
        </div>
	      
	      <div class="pure-controls">
		      <button type="submit" class="pure-button pure-button-primary">Send</button>
		    </div>  
	    </fieldset>
	  </form>
  </div>

</body>
</html>
