<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: htmlhead" />

<body>

<div id="layout" class="pure-g">
  <div th:replace="/layout :: sidebar" />

  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <div class="posts">
        <h1 class="content-subhead">New Post</h1>
        <form action="/posts" method="post">
          <label for="title"/>
          <input id="title" type="text"/>
          <button type="submit">Send</button>
        </form>
      </div>


      <div th:replace="/layout :: footer" />
    </div>
  </div>
</div>

</body>
</html>
