<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: htmlhead" />

<body>

<div id="layout" class="pure-g">
  <nav th:replace="/layout :: sidebar" />

  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <!-- A wrapper for all the blog posts -->
      <div class="posts">
        <h1 class="content-subhead">Posts <span th:text="${authorView? 'by ' + authorName : categoryView? 'under ' + categoryName : ''}"></span></h1>

        <section class="post" th:each="post : ${posts}">
          <header class="post-header">
            <img src="#"
              class="post-avatar"
              width="48"
              height="48" 
              th:attr="src=${post.author.avatarUrl},title=${post.author.name},alt=${post.author.name}" />
            <h2 class="post-title" th:text="${post.title}">Title</h2>

            <p class="post-meta">
              By <a class="post-author" th:href="${'/posts/author/' + post.author.id}" th:text="${post.author.name}">Author name</a>
              <span style="display:inline" th:each="category : ${categoriesOfPost[post.id]}">
                <a class="post-category post-category-design" th:href="${'/posts/category/' + category}" th:text="${category}">Category</a>
              </span>
            </p>
          </header>

          <div class="post-description">
            <p th:utext="${post.content}">
              Content
            </p>
          </div>
        </section>
      </div>


      <footer th:replace="/layout :: footer" />
    </div>
  </div>
</div>

</body>
</html>
