<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="/specs/lib/jasmine-2.0.2/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/specs/lib/jasmine-2.0.2/jasmine.css">

    <script type="text/javascript" src="/specs/lib/jasmine-2.0.2/jasmine.js"></script>
    <script type="text/javascript" src="/specs/lib/jasmine-2.0.2/jasmine-html.js"></script>
    <script type="text/javascript" src="/specs/lib/jasmine-boot-without-onload.js"></script>

    <script src="/js/lib/require.js" data-main="/specs/specRunner.js"></script>

</head>

<body>
<!-- http://jasmine.github.io/2.0/introduction.html -->

</body>
</html>